
    header{
        overflow: hidden;
    }

    #top-header{
        text-align: center;
        height: 60 px;
    }

    #logo{
        float: left;
        padding: none;
        margin: none;
        height: 60 px;
        width: 30%
    }

    #logo img{
        width: 60%;
        float: left;
        padding: 10 px 0 px;
    }

    /***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #6be4b5;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}

    #header-image-menu {
        top: 10 px;
        position: relative;
    }

    #header-image-menu img{
        width: 100%;
        margin: none;
        padding: none;
    }

    #image-text{
        position: absolute;
        top: 60%;
        left: 60%;
        font-family: 'Roboto';
        color: #000;
        transform: translate(-30%, -30%);
        text-align: center;
    }

    /**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome
{   overflow: hidden;
    width: 1000px;
    margin: 0px auto;

}
         
#welcome .title1{
  position: relative;
  text-align:center;
}

    #welcome .title2 {
        position:relative;
        left:60px;/*as px increases text moves right as px decreases text moves left*/
      
    }
    #welcome .title3 {
      position:relative;
      left:110px;
    }
 
#welcome p{
    margin-bottom: 40px;
    text-align: center;

}


.column {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow:hidden;
    align-items:center;
    justify-content: center;
    position: relative;


}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.button {     
    background: rgba(255, 165, 0, 0.73);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;       
} 

.rectangle {
  height: 250px;
  width: 600px;
  color:rgb(0, 0, 0);
  background-color: rgb(235, 235, 235);
  border-radius:7px;
  display: flex;
  justify-content:center;
  align-items: center;
}
