    <!-- Top header menu containing
        logo and Navigation bar -->
        <div id="top-header">
             
            <!-- Logo -->
            <div id="logo">
                <img src="/static/BATlogo.png" width = "250" height = "130">
              </div> 
                     
            <!-- Navigation Menu -->
            <nav>
                <div id="menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">Pothos</a></li>
                    <li><a href="#">Milkweed</a></li>
                </ul>
              </div>
            </nav>
        </div>   