<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   
    <!-- INCLUDE FOR EVERY NEW PAGE along with stylesheet import above-->
    {% include 'header.html' %} 

   <div class="rectangle" style=" display: inline-block;"> 
    <div style=" display: inline-block;">Soil Humidity: <span id='humidity' style="color: red;">0</span></div>
    <div style=" display: inline-block;">Temperature: <span id='temperature' style="color: rgb(255, 94, 0);">0</span></div>
    <div style=" display: inline-block;">Tank Humidity: <span id='tank_humidity' style="color: rgb(255, 208, 0);">0</span></div>
   
   
    <div >
        The date and time on the server is: {{ time }}
    </div>
    <div >
        The last time watered is {{ text }} 
    </div>
    <div >
        Auto Watering mode: <span id='auto_water_status'></span>
    </div>
   
  </div>

      <!-- Stream example Header to contain an Image (for now) and
          a sample text over that image 
      <div id="header-image-menu">
          <img src="images/image.jpg" width = "100" height = "200>
          <h2 id = "image-txt">
              Pothos Plant ID
          </h2>
      </div> -->     
</head>

<body>
  <section>
    <div id = "welcome">
        <h1 class = "title1">"Pothos" Control Pad</h1>
    </div> 
  </section>


    <!-- lets implement 2-column layout, called row, for buttons as is on poster -->
    <section class="container" id="section-2">
      <div class = "row"> 
          <div class = "column" style="background-color: #95fff6">
              <div class = "column-title">
                      <a href="/camera"><button style="background-color: transparent;" type="button">Open Camera Feed</button></a>
              </div>
              <br>
          </div>
  
          <div class = "column" style="background-color: #95fff6">
            <div class = "column-title">
                <div class = "button">
                    <a href="/"><button style="background-color: transparent;" type="button">Open Camera Library</button></a>
                </div>
            </div>
            <br> 
        </div>        

<div class = "row"> 
  <div class = "column" style="background-color: #efbbff">
      <div class = "column-title">
          <a onclick="toggleAutoWater('ON')"><button style="background-color: transparent;" type="button">Turn ON <b>Auto Watering</b></button></a>
      </div>

  </div>

  <div class = "column" style="background-color: #efbbff">
      <div class = "column-title">
          <a onclick="toggleAutoWater('OFF')"><button style="background-color: transparent;" type="button">Turn OFF <b>Auto Watering</b></button></a>
      </div>
  </div>


  <div class = "row"> 
      <div class = "column" style="background-color: #FFB695">
          <div class = "column-title">
              <a href="/sensor"><button style="background-color: transparent;" type="button">Change display</button></a> 
          </div>

      </div>

      <div class = "column" style="background-color: #45928d">
          <div class = "column-title">
              <a href="/water"><button style="background-color: transparent;" type="button">Water Once</button></a>
          </div>
      </div>


          <div class = "row"> 
              <div class = "column" style="background-color: #9e4033">
                  <div class = "column-title">
                      <a href="/"><button style="background-color: transparent;" type="button">Turn ON heat</button></a>
                  </div>
  
              </div>
  
              <div class = "column" style="background-color: #9e4033">
                  <div class = "column-title">
                      <a href="/"><button style="background-color: transparent;" type="button">Turn OFF heat</button></a>
                  </div>
              </div>



              <div class = "row"> 
                  <div class = "column" style="background-color: #2950ff">
                      <div class = "column-title">
                          <a href="/"><button style="background-color: transparent;" type="button">Turn ON <b>Auto heat</b></button></a>
                      </div>
      
                  </div>
      
                  <div class = "column" style="background-color: #2950ff">
                      <div class = "column-title">
                          <a href="/"><button style="background-color: transparent;" type="button">Turn OFF <b>Auto heat</b></button></a>
                      </div>
                  </div>


                  <div class = "row"> 
                      <div class = "column" style="background-color: rgb(255, 189, 222)">
                          <div class = "column-title">
                              <a href="/"><button style="background-color: transparent;" type="button">Turn on light low</button></a>
                          </div>
          
                      </div>
          
                      <div class = "column" style="background-color: rgb(255, 189, 222)">
                          <div class = "column-title">
                              <a href="/"><button style="background-color: transparent;" type="button">Turn on light medium</button></a>
                          </div>
                      </div>

                      <div class = "row"> 
                          <div class = "column" style="background-color: rgb(255, 189, 222)">
                              <div class = "column-title">
                                  <a href="/"><button style="background-color: transparent;" type="button">Turn on light high </button></a>
                              </div>
              
                          </div>
              
                          <div class = "column" style="background-color: #ffbfdf">
                              <div class = "column-title">
                                  <a href="/"><button style="background-color: transparent;" type="button">Turn OFF LED </button></a>
                              </div>
                          </div>






<!---- ( <a href="/"><button>T</button></a> ) --> 
</div>
</section>

<!-- footer section ?
<section> 
</section> -->   




  <script> 

// How to display JavaScript variable value in HTML
//below is a way to turn on and off auto water without refreshing the page w each click
    async function toggleAutoWater(on_or_off){ 
        const status_response =  await fetch(`/auto/water/${on_or_off}`)
        const status_json =  await status_response.json()

        document.getElementById('auto_water_status').innerHTML = status_json.message

    }

    setInterval(()=>{
      fetch(`/humidity_sensor_reading`).then((resp) => {
            return resp.json()
          }).then(function(response) {
              document.getElementById('humidity').innerHTML = `${Math.round(response.soil_hum)}%`
          })

          fetch(`/get_temperature`).then((resp) => {
            return resp.json()
          }).then(function(response) {
              document.getElementById('temperature').innerHTML = `${Math.round(response.temp)} Fahrenheit`
          })

          fetch(`/get_humidity`).then((resp) => {
            return resp.json()
          }).then(function(response) {
              document.getElementById('tank_humidity').innerHTML = `${Math.round(response.hum)}%`
          })
    }, 5000);


  </script>

</body>

</html>